{
  "openapi": "3.1.0",
  "info": {
    "title": "Phala Cloud API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://cloud-api.phala.com"
    }
  ],
  "paths": {
    "/api/v1/cvms/provision/eliza": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Provision Eliza app",
        "description": "Validates Eliza configuration and caches it for 14 days. Returns compose_hash and KMS info for on-chain registration.",
        "operationId": "handle_provision_cvm_for_eliza_api_v1_cvms_provision_eliza_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionElizaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Provision data with compose_hash for creation",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid configuration"
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/provision": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Provision DStack app",
        "description": "Validates Docker Compose configuration and caches it for 14 days. Returns compose_hash and KMS info for on-chain registration before creation.",
        "operationId": "handle_provision_cvm_api_v1_cvms_provision_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionDstackAppRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Provision data with compose_hash for creation",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid Docker Compose configuration"
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/v1/cvms/workload": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Create GPU workload CVM",
        "description": "Creates a CVM for GPU workloads. Node is auto-selected from available GPU nodes.",
        "operationId": "handle_create_cvm_for_workload_api_v1_cvms_workload_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkloadTappRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created CVM record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "400": {
            "description": "Creation failed"
          },
          "401": {
            "description": "Authentication required"
          },
          "409": {
            "description": "CVM name already exists in workspace"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2AuthorizationCodeBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/cvms": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Create CVM from provision",
        "description": "Creates a CVM using cached provision data from /cvms/provision. Requires compose_hash from the provision response.",
        "operationId": "handle_create_cvm_from_povision_api_v1_cvms_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTappRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created CVM record with teepod info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or provision data expired"
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Provision data not found"
          }
        }
      },
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "List CVMs",
        "description": "Returns CVMs in current workspace. Admins can filter by user_id or teepod_id.",
        "operationId": "handle_list_cvms_api_v1_cvms_get",
        "security": [
          {
            "OAuth2AuthorizationCodeBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "const": "0",
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "hashid",
                  "description": "A hashed identifier that maps to an internal database ID",
                  "pattern": "^usr_.+",
                  "title": "HashedId[users]",
                  "examples": [
                    "usr_0123abcd"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by owner (admin only). Use '0' for unassigned.",
              "title": "User Id"
            },
            "description": "Filter by owner (admin only). Use '0' for unassigned."
          },
          {
            "name": "teepod_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by node ID (admin only)",
              "title": "Teepod Id"
            },
            "description": "Filter by node ID (admin only)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of CVM summaries",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HostedCvm"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/teehouse__api__routes__cvms__v20260121__schemas__CVMInfo"
                      }
                    }
                  ],
                  "title": "Response Handle List Cvms Api V1 Cvms Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/eliza": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Create Eliza from provision",
        "description": "Creates an Eliza CVM using cached provision data from /cvms/provision/eliza. Requires compose_hash from the provision response.",
        "operationId": "handle_create_eliza_from_provision_api_v1_cvms_eliza_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTappRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created Eliza CVM record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload"
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Provision data not found or expired"
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/compose_file": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get raw compose file",
        "description": "Returns the complete compose file as JSON or raw text based on query param.",
        "operationId": "get_cvm_compose_file_api_v1_cvms__cvm_id__compose_file_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Raw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compose file content",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "500": {
            "description": "Failed to retrieve compose file"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Trigger compose file update",
        "description": "Applies a provisioned compose file update. Requires compose_hash from provision endpoint. Restarts the CVM with new configuration.",
        "operationId": "trigger_cvm_compose_file_update_api_v1_cvms__cvm_id__compose_file_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_trigger_cvm_compose_file_update_api_v1_cvms__cvm_id__compose_file_patch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Update initiated",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Provision not found or invalid CVM"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "503": {
            "description": "Node under maintenance"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Submit compose file update",
        "description": "Submit complete compose file with hash verification. Use when you have pre-computed compose_hash and want to skip provision step.",
        "operationId": "submit_cvm_compose_file_update_api_v1_cvms__cvm_id__compose_file_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeFileUpdateRequest",
                "description": "Complete compose file with hash"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Update initiated",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid CVM or hash mismatch"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Invalid Docker Compose syntax"
          },
          "503": {
            "description": "Node under maintenance"
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/compose_file/provision": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Provision compose file update",
        "description": "Validates new compose file and returns compose_hash for on-chain registration. Cache expires after 14 days.",
        "operationId": "provision_for_cvm_compose_file_update_api_v1_cvms__cvm_id__compose_file_provision_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionComposeFileUpdateRequest",
                "description": "Updated compose configuration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provision response with compose_hash and KMS info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeFileProvisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty Docker Compose file or invalid CVM"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Invalid Docker Compose syntax"
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/replicas": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Replicate CVM",
        "description": "Create a replica of the CVM on a target node. If request body is omitted, it replicates to the source node and reuses existing env.",
        "operationId": "handle_replicate_cvm_api_v1_cvms__cvm_id__replicas_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "X-Prepare-Only",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Prepare-Only"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ReplicateRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Replica CVM created",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid target node, image mismatch, or invalid encrypted_env"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM or target node not found"
          },
          "465": {
            "description": "KMS allowlist rejection (contract-owned KMS)"
          },
          "500": {
            "description": "Replication failed"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/operations": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "List CVM operations",
        "description": "Returns operation records grouped by correlation_id. Only includes events with correlation_id (new format since 2024-01). Error messages are sanitized for non-admin users.",
        "operationId": "get_cvm_operations_api_v1_cvms__cvm_id__operations_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from previous response",
              "title": "Cursor"
            },
            "description": "Opaque cursor from previous response"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Limit"
            },
            "description": "Page size"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include operations started after this UTC time",
              "title": "Start Time"
            },
            "description": "Include operations started after this UTC time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include operations started before this UTC time",
              "title": "End Time"
            },
            "description": "Include operations started before this UTC time"
          },
          {
            "name": "operation_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by operation types (e.g. compose_update, power_on)",
              "title": "Operation Types"
            },
            "description": "Filter by operation types (e.g. compose_update, power_on)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated operation records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCvmOperationsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/operations/cancel": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Cancel in-progress CVM operation",
        "description": "Cancel the current in-progress operation for a CVM. Revokes the Celery task and clears the operation lock.",
        "operationId": "cancel_cvm_operation_api_v1_cvms__cvm_id__operations_cancel_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation cancelled or no operation to cancel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOperationRequest"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "409": {
            "description": "Cannot cancel this operation type"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/docker-compose.yml": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get Docker Compose file",
        "description": "Returns the raw Docker Compose YAML content from the CVM configuration.",
        "operationId": "handle_get_cvm_docker_compose_api_v1_cvms__cvm_id__docker_compose_yml_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Docker Compose YAML content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Handle Get Cvm Docker Compose Api V1 Cvms  Cvm Id  Docker Compose Yml Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/pre-launch-script": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get pre-launch script",
        "description": "Returns the shell script that runs before containers start.",
        "operationId": "handle_get_cvm_prelaunch_script_api_v1_cvms__cvm_id__pre_launch_script_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pre-launch shell script content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Handle Get Cvm Prelaunch Script Api V1 Cvms  Cvm Id  Pre Launch Script Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Update pre-launch script",
        "description": "Replaces the pre-launch script and restarts the CVM. For contract-owned KMS, requires two-phase flow with on-chain hash registration.",
        "operationId": "update_cvm_pre_launch_script_api_v1_cvms__cvm_id__pre_launch_script_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "X-Compose-Hash",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Compose hash from Phase 1 response",
              "title": "X-Compose-Hash"
            },
            "description": "Compose hash from Phase 1 response"
          },
          {
            "name": "X-Transaction-Hash",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Transaction hash proving on-chain registration",
              "title": "X-Transaction-Hash"
            },
            "description": "Transaction hash proving on-chain registration"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_cvm_pre_launch_script_api_v1_cvms__cvm_id__pre_launch_script_patch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Update initiated, track via correlation_id",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid content type or empty body"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "465": {
            "description": "Compose hash registration required (Phase 1)"
          },
          "466": {
            "description": "Compose hash invalid or expired"
          },
          "467": {
            "description": "Transaction verification failed"
          },
          "468": {
            "description": "Compose hash not allowed on-chain"
          },
          "500": {
            "description": "KMS configuration or RPC error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/available-os-images": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "List available OS images",
        "description": "Returns OS images this CVM can upgrade to, filtered by node availability, KMS allowlist, dev/prod upgrade rules, and GPU compatibility.",
        "operationId": "get_available_os_images_api_v1_cvms__cvm_id__available_os_images_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OS images grouped by version (newest first)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/teehouse__api__routes__cvms__patch_compose_file__AvailableOSImage"
                  },
                  "title": "Response Get Available Os Images Api V1 Cvms  Cvm Id  Available Os Images Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/os-image": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Update OS image",
        "description": "Upgrades the CVM to a different OS image. Shuts down, updates, and restarts. Takes several minutes. Track progress via correlation_id.",
        "operationId": "update_cvm_os_image_api_v1_cvms__cvm_id__os_image_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_cvm_os_image_api_v1_cvms__cvm_id__os_image_patch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Upgrade initiated, returns correlation_id",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "OS image not available for this CVM"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/envs": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Update environment variables",
        "description": "Updates encrypted environment variables. If env_keys changes for contract-owned KMS, requires two-phase flow with on-chain hash registration.",
        "operationId": "update_cvm_envs_api_v1_cvms__cvm_id__envs_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_cvm_envs_api_v1_cvms__cvm_id__envs_patch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Update initiated, returns correlation_id and allowed_envs_changed flag",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "465": {
            "description": "Compose hash registration required (env_keys changed, Phase 1)"
          },
          "466": {
            "description": "Compose hash invalid or expired"
          },
          "467": {
            "description": "Transaction verification failed"
          },
          "468": {
            "description": "Compose hash not allowed on-chain"
          },
          "500": {
            "description": "KMS configuration or RPC error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/docker-compose": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Update Docker Compose file",
        "description": "Replaces the docker-compose.yml and restarts the CVM. For contract-owned KMS, requires two-phase flow with on-chain hash registration.",
        "operationId": "update_cvm_docker_compose_api_v1_cvms__cvm_id__docker_compose_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "X-Compose-Hash",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Compose hash from Phase 1 response",
              "title": "X-Compose-Hash"
            },
            "description": "Compose hash from Phase 1 response"
          },
          {
            "name": "X-Transaction-Hash",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Transaction hash proving on-chain registration",
              "title": "X-Transaction-Hash"
            },
            "description": "Transaction hash proving on-chain registration"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_cvm_docker_compose_api_v1_cvms__cvm_id__docker_compose_patch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Update initiated, track via correlation_id",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid content type or empty body"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "465": {
            "description": "Compose hash registration required (Phase 1)"
          },
          "466": {
            "description": "Compose hash invalid or expired"
          },
          "467": {
            "description": "Transaction verification failed"
          },
          "468": {
            "description": "Compose hash not allowed on-chain"
          },
          "500": {
            "description": "KMS configuration or RPC error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/revisions/{revision_id}/redeploy": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Redeploy CVM from a specific revision",
        "description": "Switch/rollback a CVM to a specified app revision (compose_hash).",
        "operationId": "redeploy_cvm_revision_api_v1_cvms__cvm_id__revisions__revision_id__redeploy_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Revision Id"
            }
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional transaction hash proving on-chain compose hash registration",
              "title": "Transaction Hash"
            },
            "description": "Optional transaction hash proving on-chain compose hash registration"
          }
        ],
        "responses": {
          "202": {
            "description": "Activation initiated",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No workspace access"
          },
          "404": {
            "description": "CVM or revision not found"
          },
          "409": {
            "description": "Another operation is in progress"
          },
          "465": {
            "description": "Compose hash registration required (contract-owned KMS)"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/instance-ids": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Batch refresh CVM instance IDs",
        "description": "Resolves and persists missing instance_id values. Admin can pass cross-workspace CVM IDs.",
        "operationId": "handle_batch_refresh_cvm_instance_ids_api_v1_cvms_instance_ids_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInstanceIdRefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchInstanceIdRefreshResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/paginated": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "List CVMs (paginated)",
        "description": "Returns paginated CVMs in current workspace with total count.",
        "operationId": "handle_list_cvms_paginated_api_v1_cvms_paginated_get",
        "security": [
          {
            "OAuth2AuthorizationCodeBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "const": "0",
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "hashid",
                  "description": "A hashed identifier that maps to an internal database ID",
                  "pattern": "^usr_.+",
                  "title": "HashedId[users]",
                  "examples": [
                    "usr_0123abcd"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by owner (admin only). Use '0' for unassigned.",
              "title": "User Id"
            },
            "description": "Filter by owner (admin only). Use '0' for unassigned."
          },
          {
            "name": "teepod_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by node ID (admin only)",
              "title": "Teepod Id"
            },
            "description": "Filter by node ID (admin only)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (1-indexed)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (1-indexed)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (max 100)",
              "default": 30,
              "title": "Page Size"
            },
            "description": "Items per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated CVM list with total count",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedHostedCvms"
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedCvmInfos"
                    }
                  ],
                  "title": "Response Handle List Cvms Paginated Api V1 Cvms Paginated Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/instance-id": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Refresh CVM instance ID",
        "description": "Resolve and persist instance_id for a CVM. Default behavior only backfills missing values.",
        "operationId": "handle_refresh_cvm_instance_id_api_v1_cvms__cvm_id__instance_id_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstanceIdRefreshRequest",
                "default": {
                  "overwrite": false,
                  "dry_run": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceIdRefreshResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get CVM details",
        "description": "Returns full CVM details including status, network info, and KMS configuration.",
        "operationId": "handle_get_cvm_api_v1_cvms__cvm_id__get",
        "security": [
          {
            "OAuth2AuthorizationCodeBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CVM details",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/teehouse__api__routes__cvms__management__CvmBasicInfo"
                    },
                    {
                      "$ref": "#/components/schemas/CVMInfoDetail"
                    }
                  ],
                  "title": "Response Handle Get Cvm Api V1 Cvms  Cvm Id  Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CVMs"
        ],
        "summary": "Delete CVM",
        "description": "Stops and permanently deletes CVM. Data is not recoverable.",
        "operationId": "handle_remove_cvm_api_v1_cvms__cvm_id__delete",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deletion initiated"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Update CVM",
        "description": "Unified PATCH endpoint for CVM updates. Only fields present in the request body are applied. Handles resource resize, compose configuration, visibility, environment, and OS image updates. For contract-owned KMS, compose-hash-affecting changes require two-phase flow with on-chain hash registration.",
        "operationId": "update_cvm_endpoint_api_v1_cvms__cvm_id__patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "X-Compose-Hash",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Compose hash from Phase 1 response (Phase 2 only)",
              "title": "X-Compose-Hash"
            },
            "description": "Compose hash from Phase 1 response (Phase 2 only)"
          },
          {
            "name": "X-Transaction-Hash",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Transaction hash proving on-chain registration (Phase 2 only)",
              "title": "X-Transaction-Hash"
            },
            "description": "Transaction hash proving on-chain registration (Phase 2 only)"
          },
          {
            "name": "X-Prepare-Only",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When 'true', generate a commit token for multisig workflows instead of expecting immediate on-chain registration",
              "title": "X-Prepare-Only"
            },
            "description": "When 'true', generate a commit token for multisig workflows instead of expecting immediate on-chain registration"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCvmRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Update initiated, track via correlation_id",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid request or terms violation"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace or GPU rental managed"
          },
          "404": {
            "description": "CVM not found"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "465": {
            "description": "Compose hash registration required (Phase 1)"
          },
          "466": {
            "description": "Compose hash invalid or expired"
          },
          "467": {
            "description": "Transaction verification failed"
          },
          "468": {
            "description": "Compose hash not allowed on-chain"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/stats": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get CVM system stats",
        "description": "Returns live system metrics (CPU, memory, disk) from the running CVM.",
        "operationId": "handle_get_cvm_stats_api_v1_cvms__cvm_id__stats_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "System stats (may be partial if CVM offline)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CvmSystemInfo"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/attestation": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get CVM attestation",
        "description": "Returns TEE attestation data including TCB info and app certificates.",
        "operationId": "handle_get_cvm_attestation_api_v1_cvms__cvm_id__attestation_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attestation report (may have error if CVM offline)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CvmAttestation"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/network": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get CVM network info",
        "description": "Returns network status including internal IP, handshake time, and public URLs.",
        "operationId": "handle_get_cvm_network_info_api_v1_cvms__cvm_id__network_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network info (may have error if offline)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CvmNetwork"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/start": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Start CVM",
        "description": "Powers on a stopped CVM. GPU allocation happens during start.",
        "operationId": "handle_start_cvm_api_v1_cvms__cvm_id__start_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CVM record with starting status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "400": {
            "description": "Insufficient balance"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "500": {
            "description": "GPU allocation failed"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/shutdown": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Shutdown CVM",
        "description": "Gracefully shuts down CVM (SIGTERM then SIGKILL after timeout). Triggers billing.",
        "operationId": "handle_shutdown_cvm_api_v1_cvms__cvm_id__shutdown_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CVM record with shutting_down status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM managed by on-demand GPU rental"
          },
          "404": {
            "description": "CVM not found"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/stop": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Force stop CVM",
        "description": "Immediately stops CVM (like pulling power). Cancels any in-progress operation. Triggers billing.",
        "operationId": "handle_stop_cvm_api_v1_cvms__cvm_id__stop_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CVM record with stopping status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM managed by on-demand GPU rental"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/restart": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Restart CVM",
        "description": "Stops and starts CVM. Use force=true to skip graceful shutdown.",
        "operationId": "handle_restart_cvm_api_v1_cvms__cvm_id__restart_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_handle_restart_cvm_api_v1_cvms__cvm_id__restart_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CVM record with restarting status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "400": {
            "description": "Insufficient balance"
          },
          "409": {
            "description": "Another operation in progress"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/operation-status": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get operation status",
        "description": "Returns current in-progress operation details including Celery task status.",
        "operationId": "get_operation_status_api_v1_cvms__cvm_id__operation_status_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation status (idle if none in progress)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "CVM not in workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/name": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Handle Update Cvm Name",
        "description": "Update CVM name with RFC 1123 validation and availability check",
        "operationId": "handle_update_cvm_name_api_v1_cvms__cvm_id__name_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_handle_update_cvm_name_api_v1_cvms__cvm_id__name_patch"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/listed": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Handle Update Cvm Listed",
        "operationId": "handle_update_cvm_listed_api_v1_cvms__cvm_id__listed_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_handle_update_cvm_listed_api_v1_cvms__cvm_id__listed_patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/scheduled-delete": {
      "patch": {
        "tags": [
          "CVMs"
        ],
        "summary": "Handle Update Cvm Scheduled Delete",
        "description": "Update CVM scheduled delete time",
        "operationId": "handle_update_cvm_scheduled_delete_api_v1_cvms__cvm_id__scheduled_delete_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_handle_update_cvm_scheduled_delete_api_v1_cvms__cvm_id__scheduled_delete_patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/batch-stop": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Batch stop CVMs",
        "description": "Force stop multiple CVMs at once. Non-admin users can only stop CVMs in their current workspace. Admin users can stop any CVM. Max 50 per request.",
        "operationId": "handle_batch_stop_cvms_api_v1_cvms_batch_stop_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchStopRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Batch stop summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStopResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "400": {
            "description": "Invalid request (e.g. too many CVMs)"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/status/batch": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Handle Batch Cvm Status",
        "description": "Batch query CVM real-time status.\n\nGroups by teepod and queries in parallel, returns status updates with\ncomplete async operation information.",
        "operationId": "handle_batch_cvm_status_api_v1_status_batch_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "$ref": "#/components/schemas/CvmStatus"
                  },
                  "type": "object",
                  "title": "Response Handle Batch Cvm Status Api V1 Status Batch Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2AuthorizationCodeBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/cvms/{cvm_id}/state": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Handle Get Cvm State",
        "description": "Get CVM state. Supports two modes:\n\n1. Immediate mode (no target): Returns current state immediately\n2. SSE mode (with target): Streams state updates until status matches target or timeout\n\nExample:\n    GET /cvms/{cvm_id}/state - Returns current state\n    GET /cvms/{cvm_id}/state?target=running - Streams until status becomes 'running'\n\nSSE connection limit: 5 concurrent connections per user",
        "operationId": "handle_get_cvm_state_api_v1_cvms__cvm_id__state_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Target status to wait for. If specified, returns SSE stream.",
              "title": "Target"
            },
            "description": "Target status to wait for. If specified, returns SSE stream."
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30,
              "minimum": 5,
              "description": "Polling interval in seconds (5-30)",
              "default": 5,
              "title": "Interval"
            },
            "description": "Polling interval in seconds (5-30)"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 600,
              "minimum": 10,
              "description": "Maximum wait time in seconds (10-600)",
              "default": 300,
              "title": "Timeout"
            },
            "description": "Maximum wait time in seconds (10-600)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/network-config": {
      "get": {
        "tags": [
          "CVMs",
          "cvms-network-config"
        ],
        "summary": "Get network configuration",
        "description": "Returns real-time KMS URLs, Gateway URLs, and port mappings from VMM.",
        "operationId": "handle_get_network_config_api_v1_cvms__cvm_id__network_config_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "CVM not found"
          },
          "500": {
            "description": "Failed to query VMM"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CVMs",
          "cvms-network-config"
        ],
        "summary": "Update KMS/Gateway URLs",
        "description": "Update KMS and/or Gateway URLs for this CVM. Requires VMM >= 0.5.7.",
        "operationId": "handle_update_network_config_api_v1_cvms__cvm_id__network_config_patch",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNetworkConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated network configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "VMM too old or invalid request"
          },
          "403": {
            "description": "Feature not enabled for this workspace"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/ports": {
      "get": {
        "tags": [
          "CVMs",
          "cvms-network-config"
        ],
        "summary": "Get port mappings",
        "description": "Returns persisted port mappings for this CVM.",
        "operationId": "handle_get_port_mappings_api_v1_cvms__cvm_id__ports_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Port mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PortMappingResponse"
                  },
                  "title": "Response Handle Get Port Mappings Api V1 Cvms  Cvm Id  Ports Get"
                }
              }
            }
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CVMs",
          "cvms-network-config"
        ],
        "summary": "Set port mappings",
        "description": "Bulk-replace all port mappings for this CVM. Writes to DB and applies to VMM.",
        "operationId": "handle_set_port_mappings_api_v1_cvms__cvm_id__ports_put",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePortMappingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated port mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PortMappingResponse"
                  },
                  "title": "Response Handle Set Port Mappings Api V1 Cvms  Cvm Id  Ports Put"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Feature not enabled for this workspace"
          },
          "409": {
            "description": "Port conflict during concurrent updates"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/firewall-status": {
      "get": {
        "tags": [
          "CVMs",
          "cvms-network-config"
        ],
        "summary": "Get firewall availability for this CVM's node",
        "description": "Checks teescope capabilities.firewall on the node hosting this CVM.",
        "operationId": "handle_get_firewall_status_api_v1_cvms__cvm_id__firewall_status_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/commit-update": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get commit token info (no auth required)",
        "description": "Read-only lookup of commit token metadata for the confirm-update page.",
        "operationId": "get_commit_update_info_api_v1_cvms__cvm_id__commit_update_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Commit CVM update (token-based, no auth required)",
        "description": "Completes a two-phase CVM update using a one-time commit token. The token was generated during a prepare-only PATCH request. No workspace authentication is required — the commit token is the credential.",
        "operationId": "commit_cvm_update_api_v1_cvms__cvm_id__commit_update_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Commit token (alternative to body.token)",
              "title": "Token"
            },
            "description": "Commit token (alternative to body.token)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitUpdateRequest",
                "default": {
                  "token": "",
                  "compose_hash": "",
                  "transaction_hash": ""
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/commit-replica": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Commit CVM replica (token-based, no auth required)",
        "description": "Completes a two-phase CVM replication using a one-time commit token. The token was generated during a prepare-only or hash-required replica request.",
        "operationId": "commit_cvm_replica_api_v1_cvms__cvm_id__commit_replica_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Commit token (alternative to body.token)",
              "title": "Token"
            },
            "description": "Commit token (alternative to body.token)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitUpdateRequest",
                "default": {
                  "token": "",
                  "compose_hash": "",
                  "transaction_hash": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/customize-domain-diagnose": {
      "post": {
        "tags": [
          "CVMs"
        ],
        "summary": "Diagnose custom domain DNS",
        "description": "Verify DNS records for custom domain configuration. Checks CNAME pointing to CVM, TXT records for app verification, and CAA records.",
        "operationId": "diagnose_custom_domains_api_v1_cvms__cvm_id__customize_domain_diagnose_post",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiagnoseDomainsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or multiple CVMs with same name"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "No access to this CVM"
          },
          "404": {
            "description": "CVM not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cvms/{cvm_id}/user_config": {
      "get": {
        "tags": [
          "CVMs"
        ],
        "summary": "Get CVM user config",
        "description": "Returns the user_config stored in Teepod for this CVM, including injected SSH keys.",
        "operationId": "get_cvm_user_config_api_v1_cvms__cvm_id__user_config_get",
        "parameters": [
          {
            "name": "cvm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cvm Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User config retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CvmUserConfig"
                }
              }
            }
          },
          "400": {
            "description": "Invalid CVM identifier format, or multiple CVMs share the same name"
          },
          "401": {
            "description": "Not authenticated"
          },
          "404": {
            "description": "CVM not found or not accessible in this workspace"
          },
          "502": {
            "description": "Teepod returned an error or invalid user_config JSON"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kms": {
      "get": {
        "tags": [
          "KMS"
        ],
        "summary": "List KMS instances",
        "description": "Query available KMS instances with pagination. Filter by onchain status to find instances with blockchain integration.",
        "operationId": "list_kms_api_v1_kms_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (1-indexed)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (1-indexed)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page (1-100)",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Items per page (1-100)"
          },
          {
            "name": "is_onchain",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter: true=onchain only, false=offchain only, omit=all",
              "title": "Is Onchain"
            },
            "description": "Filter: true=onchain only, false=offchain only, omit=all"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kms/{kms_id}": {
      "get": {
        "tags": [
          "KMS"
        ],
        "summary": "Get KMS details",
        "description": "Retrieve KMS instance details by hashed ID or slug.",
        "operationId": "get_kms_info_api_v1_kms__kms_id__get",
        "parameters": [
          {
            "name": "kms_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "KMS ID (hashed) or slug",
              "title": "Kms Id"
            },
            "description": "KMS ID (hashed) or slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
[...]
